body{
    background-color: hsl(30, 54%, 90%);
    text-align: center;
}

.container{
    display: inline-block;
    background-color: white;
    width: 600px;
    height: 100%;
    border-radius: 20px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img_omelette{
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}
.titre_1{
    text-align: left;
    font-family: 'Young Serif', serif;
    font-weight: 400;
    position: relative;
    margin-left: 30px;
}
p{
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    text-align: left;
    position: relative;
    margin-left: 30px;
}
.temps_prep{
    display: inline-block;
    background-color: hsl(330, 100%, 98%);
    text-align: left;
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.titre_preparation{
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    color: hsl(332, 51%, 32%);
    margin-left: 30px;
}
li{
    text-align: left;
    font-family: 'Outfit', sans-serif;
    position: relative;
    margin-bottom: 10px;
}
.titre_liste{
    font-weight: 600;
}
.titre_2{
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    position: relative;
    margin-left: 30px;
}
.liste{
    position: relative;
    margin-left: 20px;
}
.par_liste{
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
}
table{
    position: relative;
    margin-left: 30px;
    margin-bottom: 20px;
}
.nutrition_title{
    font-family: 'Outfit', sans-serif;
    position: relative;
    padding-right: 190px;
    padding-bottom: 10px;
}
.nutrition_value{
    font-family: 'Outfit', sans-serif;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
tr{
    border-bottom: 1px solid black;
}